<section id="about" class="about bg-white">
    <div class="container">
        <div class="about-cont">
            <div class="bg-image">
            </div>
            <div class="row">
                <div class="col-lg-6 col-12">
                    <div class="about-img">
                        <div class="corner"></div>
                    </div>
                    <!-- go to main.scss file to edit personal image -->
                </div>
                <div class="col-lg-6 col-12">
                    <div class="title">
                        <span>Mon intro</span>
                        <h2>À propos de moi</h2>
                    </div>
                    <div class="infos">
                        <p>J'ai commencé à toucher un pc très jeune, depuis je n'ai pas arrêté. Ayant eu la chance de faire une reconversion professionnelle, j'ai appris via
                            une formation le métier de développeur web et web mobile.</p>
                    </div>
                    <div class="profile-info">
                        <div class="content">

                            <h5 class="title-info"><i class="bi bi-person"></i>Nom :</h5>
                            <p>Ludovic Breton</p> <!-- Edit Your Name  -->
                        </div>
                        <div class="content">

                            <h5 class="title-info"><i class="bi bi-phone"></i>Téléphone :</h5>
                            <p>06 12 09 54 17</p> <!-- Edit Your Phone  -->
                        </div>
                        <div class="content">

                            <h5 class="title-info"><i class="bi bi-envelope"></i>Email :</h5>
                            <p>bretonludovic40@gmail.com</p> <!-- Edit Your Email  -->
                        </div>
                    </div>
                    <div class="interests">
                        <h5>Mes intérêts</h5>
                        <div class="infos">
                            <i class="bi bi-headphones"></i>
                            <span>Musique</span>
                        </div>
                        <div class="infos">
                            <i class="bi bi-bicycle"></i>
                            <span>VTT</span>
                        </div>
                        <div class="infos">
                            <i class="bi bi-film"></i>
                            <span>Cinéma</span>
                        </div>
                        <div class="infos">
                            <i class="bi bi-controller"></i>
                            <span>Jeux vidéo</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>