<section id="skills" class="skills">
    <div class="container">
        <div class="title text-center mb-5">
            <h2 class="fw-bold">Mes compétences</h2>
        </div>
        <div class="skills-content">
            <div class="row mb-5">
                <div class="col-lg-4 col-12">
                    <div class="skills-info">
                        <h3>Front-end</h3>
                        <div class="mt-5 d-flex justify-content-around">
                            <div class="d-flex justify-content-around flex-column ">
                                <img src="/build/images/js.png" alt="logo js"
                                     width="96" height="96">
                                <img class="mt-5" src="/build/images/html.png" alt="logo html5"
                                     width="96" height="96">
                            </div>
                            <div class="d-flex justify-content-between flex-column">

                                <img src="/build/images/sass.png" alt="logo sass"
                                     width="96" height="96">
                                <img src="/build/images/css3.png" alt="logo css3"
                                     width="96" height="96">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-12">
                    <div class="skills-info">
                        <h3>Back-end</h3>
                        <div class="mt-5 d-flex justify-content-around">
                            <div class="d-flex justify-content-around flex-column ">
                                <img src="/build/images/php.png" alt="logo php"
                                     width="96" height="96">
                                <img class="mt-5" src="/build/images/symfony.png" alt="logo Symfony"
                                     width="96" height="96">
                            </div>
                            <div class="d-flex justify-content-between flex-column">
                                <img src="/build/images/mysql.png" alt="logo mysql"
                                     width="96" height="96">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-12">
                    <div class="skills-info">
                        <h3>Logiciels et outils</h3>
                        <div class="mt-5 d-flex justify-content-around">
                            <div class="d-flex justify-content-around flex-column ">
                                <img src="/build/images/wordpress.png" alt="logo wordpress"
                                     width="96" height="96">
                                <img class="mt-5" src="/build/images/git.png" alt="logo git"
                                     width="96" height="96">
                            </div>
                            <div class="d-flex justify-content-between flex-column">

                                <img src="/build/images/vsc.png" alt="logo visual studio code"
                                     width="96" height="96">
                                <img src="/build/images/phpstorm.png" alt="logo phpStorm"
                                     width="96" height="96">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>