<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mon portfolio{% endblock %}</title>
    <link rel="icon"
          href="">
    <link rel="stylesheet" href="/build/app.css">
    <script src="/build/app.js"></script>
    {% block stylesheets %}

    {% endblock %}

    {% block javascripts %}
    {% endblock %}
</head>
<body>
<header>
    <nav>
        {% if user %}
            {{ user }}

            <a href="/profil">Mon profil</a>
        {% endif %}

        {% if validated %}
            <div class="flex justify-content-center align-items-center message container mt-3">
                <div class="alert alert-danger">Votre compte n'est pas validé, pour recevoir un nouveau mail de validation, merci de cliquer: <a
                            href="/resend-verify-email/{{ user.slug }}" class="fw-bold">ICI</a>
                </div>
            </div>
        {% endif %}
    </nav>
</header>

<div class="container-lg d-flex flex-column flex-grow-1">
    {% for message in success %}
        <div class="flex justify-content-center align-items-center message container mt-3">
            <div class="alert alert-success">{{ message }}</div>
        </div>
    {% endfor %}

    {% for message in errors %}
        <div class="flex justify-content-center align-items-center message container mt-3">
            <div class="alert alert-danger">{{ message }}</div>
        </div>
    {% endfor %}
    {% block body %}{% endblock %}
</div>
<footer>
    {% if user %}
        <a href="/logout">Se déconnecter</a>
    {% else %}
        <a href="/login">Se connecter</a>
    {% endif %}
</footer>
</body>
</html>