<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nouveau email</title>
</head>
<body>
{% for key, value in message %}
    {% if value is not empty %}
        <div style="margin-bottom: 1.5rem">
            <h2>{{ key }} :</h2>
            <p>{{ value }}</p>
        </div>
    {% endif %}
{% endfor %}
</body>
</html>